# Compiled output
dist/
dist-ssr/

# Dependencies
node_modules/

# TypeScript build info
*.tsbuildinfo

# Vite config compiled outputs
vite.config.js
vite.config.d.ts

# Logs
*.log
npm-debug.log*

# Editor
.DS_Store
.vscode/extensions.json
